@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Satisfy&family=Source+Sans+Pro:wght@200;300;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro:wght@200;300;600&display=swap');

input {
    all: unset;
    box-sizing: border-box;
}

:root {
    --brown: '#A77979';
    --main-bg-color: #F7F7F7;
    --accent-color: white;
    --dark-accent-color: #393E46;
    --light-accent-color: rgb(131 188 166);
    --text-color: #181D31;
    --accent-text-color: #F7F7F7;
    --logo-container: rgba(57, 62, 70, 0.5);

}

a {
    color: var(--accent-color);
    font-weight: 600;
    text-decoration: none;
}

.right-container a {
    color: var(--light-accent-color);
}

a:hover {
    color: var(--light-accent-color);
    transition: 0.5s;
}

a:active {
    color: var(--light-accent-color)
}

.form-container > h2 {
    display: block;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Caveat';
}

body {
    box-sizing: border-box;
    color: var(--text-color);
    display: relative;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 200;

}


.flex-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    background-image: url(splash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 100vh;
    flex: 1 2 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position:fixed; */
}
.right-container {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 30px;
    flex: 2 0.5 300;
    overflow-y: scroll;
}
.splash-credit {
    position: sticky;
    top: 90%;
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    opacity: 80%;
}
.logo-container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo{
    max-width: 100px;
    width: calc(50px + 2vw);
    margin-right: 20px;
    filter: invert(100%);
}

.logo-text{
    color: white;
    font-size: calc(2em + 2vw);
    font-family: 'Satisfy';
    text-align: center;
    line-height: 50px;
    padding-top:20px;
}

.welcome-text {
    margin: 30px 0;
    padding: 0px 20px 0 40px;
    font-size: 25px;
}

.form-container {
    background-color: var(--accent-color);
    padding: 40px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
}

.input-entry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 2 2 300px;
    margin-right: 20px;
    margin-top: 20px;
    min-width: 150px;
}

.input-entry > label {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-entry > input {
    background-color: var(--main-bg-color);
    border: 1px solid rgba(77, 98, 90, 20%);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: 40px;
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    padding: 5px 10px;
}

.input-entry > input:active,
.input-entry > input:target,
.input-entry > input:focus {
    border: 2px var(--dark-accent-color) solid;
}

.form-submit-container {
    padding: 40px;
}

.create_account_button{
    font-family: 'Source Sans Pro';
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-text-color);
    padding: 15px 70px;
    background-color: var(--dark-accent-color);
    cursor:pointer;
    transition: 0.2s;
}

.create_account_button:hover {
    background-color: var(--light-accent-color);
}

.create_account_button:active {
    background-color: var(--light-accent-color);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
.flex-container {
    flex-direction: column;
}
.welcome-text {
    margin-top: 0px;
}

.logo-container{
    margin: 50px 0px;
}
.logo {
    width: 60px;
}
.logo-text{
    font-size: 50px;
    padding-top:10px;
}

.splash-credit {
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 10px;
}

.right-container {
    overflow: unset;
}

}