@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Satisfy&family=Source+Sans+Pro:wght@200;300;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Source+Sans+Pro:wght@200;300;600&display=swap');

input {
    all: unset;
    box-sizing: border-box;
}

:root {
    --brown: '#A77979';
    --main-bg-color: #F7F7F7;
    /* --accent-color: rgb(109, 152, 134); */
    --accent-color: white;
    --dark-accent-color: #393E46;
    --light-accent-color: rgb(131 188 166);
    --text-color: #181D31;
    --accent-text-color: #F7F7F7;
    --logo-container: rgba(57, 62, 70, 0.5);

}

a {
    color: var(--accent-color);
    font-weight: 600;
    text-decoration: none;
}

.right-container a {
    color: var(--light-accent-color);
}

a:hover {
    color: var(--light-accent-color);
    transition: 0.5s;
}

a:active {
    color: var(--light-accent-color)
}

h2 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Caveat';
}

body {
    box-sizing: border-box;
    color: var(--text-color);
    display: relative;
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
    font-size: 1.2rem;
    font-weight: 200;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    background-color: aquamarine;
    background-image: url(splash.jpeg);
    background-repeat:repeat;
    background-size: cover;
    /* background-position-y: bottom; */
    /* width: 35vw; */
    min-width: 400px;
    height: 100vh;
    flex: 2 1 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right-container {
    background-color: var(--main-bg-color);
    /* width: 65vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}
.splash-credit {
    /* width: 100%; */
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 20px;
    opacity: 80%;
}
.logo-container {
    /* background-color: var(--logo-container); */
    margin-top: 100px;
    width: 100%;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo{
    max-width: 100px;
    width: calc(60px + 1vw);
    margin-right: 20px;
    filter: invert(100%);
}

.logo-text{
    color: white;
    font-size: calc(2em + 1vw);
    font-family: 'Satisfy';
    text-align: center;
    line-height: 50px;
    padding-top:20px;
}

.welcome-text {
    padding: 0px 40px;
    font-size: 30px;
}

.form-container {
    background-color: var(--accent-color);
    padding: 40px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

form {
    /* max-width: 800px; */

}

.input-entry {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    /* float: left; */
    max-width: 400px;
    width: 100%;
}

.input-entry > label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-entry > input {
    background-color: var(--main-bg-color);
    border: 1px solid rgba(77, 98, 90, 20%);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: 40px;
    font-size: 1rem;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    padding: 5px 10px;
}

.input-entry > input:active,
.input-entry > input:target,
.input-entry > input:focus {
    border: 2px var(--dark-accent-color) solid;
}

.form-submit-container {
    padding: 40px;
}

.create_account_button{
    font-family: 'Source Sans Pro';
    border: 0;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-text-color);
    padding: 15px 70px;
    background-color: var(--dark-accent-color);
    /* box-shadow: 0px 5px 5px rgba(0,0,0,0.2); */
    cursor:pointer;
    transition: 0.2s;
}

.create_account_button:hover {
    background-color: var(--light-accent-color);
}

.create_account_button:active {
    background-color: var(--light-accent-color);
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 700px) {
.flex-container {
    flex-direction: column;
}

.left-container {
    flex: 1 1 auto;
}
}